.footer {
  padding-top: 96px;
  padding-bottom: 16px;
  color: var(--color-black);
  background-image: linear-gradient(220deg,
      hsl(315deg 68% 57%) 0%,
      hsl(251deg 67% 76%) 100%);
}

.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "title   form"
    "socials form";

  @media screen and (width <=768px) {
    grid-template-columns: auto;
    grid-template-areas:
      "title"
      "form"
      "socials";
    gap: 32px;
  }
}

.footer__title {
  grid-area: title;
  margin: 0;
  font-size: 3rem;
  line-height: 1;
}

.footer__form {
  grid-area: form;
}

.footer__subscribe {
  grid-area: socials;
  align-content: end;
  font-size: 1.5rem;
  font-weight: bold;
}

.footer__subscribe span {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.footer .socials {
  gap: 8px;
}

.footer .socials a {
  color: var(--color-black);
}

.footer__copyright {
  margin-top: 42px;
  margin-bottom: 0;

  &::before {
    content: "";
    position: relative;
    top: -12px;

    display: block;
    width: 100%;
    height: 1px;

    background-color: black;
  }
}
