/* .services {
}
.services__container {
} */

@property --gradient-angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

.services__list {
	position: relative;
	display: flex;
	justify-content: space-evenly;

	margin: 0;
	padding: 0;
	list-style: none;

	&::after {
		position: absolute;
    content: "";
		bottom: -128px;
    right: 4vw;
    width: 80px;
		aspect-ratio: 1;
    background-color: var(--color-purple);
    border-radius: 50%;
		opacity: 0.85;

		@media screen and (width <=768px) {
			right: initial;
			left: 4vw;
		}
	}

	@media screen and (width <=1024px) {
		justify-content: space-between;
	}

	@media screen and (width <=768px) {
		flex-direction: column;
		align-items: center;
		gap: 5rem;
	}
}

.service {
	width: 24%;
	opacity: 0;

	@media screen and (width <=1024px) {
		width: 30%;
	}

	@media screen and (width <=768px) {
		width: max(18rem, 68%);
		animation-delay: 0s !important;
	}
}

.service:nth-child(1) {animation-delay: 0.5s;}
.service:nth-child(2) {animation-delay: 0.2s;}
.service:nth-child(3) {animation-delay: 0.8s;}

.service__image {
	position: relative;

	img {
		border-radius: 9rem;

		@media screen and (width <=768px) {
			width: 86%;
		}
	}
}

.service__image::before {
	content: "";
	position: absolute;
	top: -1%;
	left: -2%;

	width: 104%;
	height: 102%;
	border-radius: 9rem;
	background-image: linear-gradient(var(--gradient-angle),
			#5ddcff,
			#3c67e3 43%,
			#4e00c2);

	transition: opacity .4s;
	animation: none;

	opacity: 0;
	z-index: -1;

	@media screen and (width <=768px) {
		width: 90%;
	}
}

/* .service__image::before, */
.service__image::after {
	content: "";
	position: absolute;
	inset: 0;

	filter: blur(3rem);
	background: conic-gradient(from var(--gradient-angle),
			var(--color-purple),
			var(--color-turquoise),
			var(--color-blue),
			var(--color-purple));

	transition: opacity .4s;
	animation: none;

	opacity: 0;
	z-index: -1;

	@media screen and (width <=768px) {
		width: 90%;
	}
}

.service:hover .service__image::before {
	animation: spin-angle 4s linear infinite;
	opacity: 1;
}

.service:hover .service__image::after {
	animation: spin-angle 6s linear infinite;
	opacity: 1;
}

.service__title {
	margin-block: 2rem 0;
	text-align: center;

	@media screen and (width <=1024px) {
		font-size: 1.1rem;
	}

	@media screen and (width <=768px) {
		font-size: 1.6rem;
	}
}

.service__info {
	width: 90%;
	margin-top: 0.4rem;
	margin-inline: auto;
	line-height: 140%;

	@media screen and (width <=1024px) {
		width: 100%;
		font-size: 0.9rem;
	}

	@media screen and (width <=768px) {
		width: calc(100% + 4rem);
		margin-left: -2rem;
		font-size: 1.1rem;
	}
}

.extra {
	width: 80%;
	margin-inline: auto;
	padding-left: 3rem;

	@media screen and (width <=768px) {
		width: auto;
		padding-left: 0;
	}
}

.extra__title {
	margin-top: 6rem;
	margin-bottom: 1rem;
	font-family: "Fraunces", serif;
	font-weight: 500;
	font-size: 3rem;

	@media screen and (width <=768px) {
		text-align: right;
	}
}

.extra__counter {
	font-family: "Fraunces", serif;
	font-weight: 700;
	font-size: 12rem;
	line-height: 120%;
	color: rgb(0 0 0 / 0.2);
	background-image: url("./../img/extra-services-counter.jpg");
	background-size: cover;
	background-position: center;
	background-clip: text;


	@media screen and (width <=768px) {
		display: block;
		font-size: 70vw;
		line-height: 110%;
		text-align: right;
	}
}

.extra__wrapper {
	display: flex;
	justify-content: space-between;
}

.extra__list {
	position: relative;

	margin: 0;
	padding-left: 2rem;
	list-style: none;

	@media (hover) {
		& .extra__item {
			transform-origin: left center;
			transition:
				transform 0.9s linear(0, 0.009 1%, 0.036 2%, 0.082 3.1%, 0.148 4.3%, 0.299 6.5%, 0.754 12.4%, 0.874 14.2%, 0.977 16%, 1.055 17.7%, 1.116 19.4%, 1.16 21.2%, 1.187 23%, 1.197 25.4%, 1.184 28.1%, 1.152 30.8%, 1.014 40.4%, 0.981 44.1%, 0.964 47.8%, 0.964 53.3%, 0.997 65.4%, 1.007 72.2%, 1),
				opacity 0.24s ease-in;
		}

		&:has(.extra__item:hover) .extra__item:not(:hover) {
			transform: scale(0.8);
			opacity: 0.3;
		}
	}
}

.extra__item {
	padding-block: 0.3rem;
}

.extra__item a {
	color: var(--color-white);
	font-size: 1.32rem;
	cursor: default;

	@media screen and (width <= 768px) {
		font-size: 1.6rem;
	}

	&::after {
		display: none;
	}
}

.showcase {
	width: 50vmin;
	aspect-ratio: 1;
	border: 1px dashed rgba(255, 255, 255, 0.4);
	position: relative;

	@media screen and (width <=1024px) {
		width: 46vmin;
	}

	@media screen and (width <=942px) {
		width: 42vmin;
	}

	@media screen and (width <=864px) {
		width: 38vmin;
	}

	@media screen and (width <=824px) {
		width: 34vmin;
	}

	@media screen and (width <=768px) {
		display: none;
	}
}

.showcase::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 50%;
	border: 1px dashed rgba(255, 255, 255, 0.4);
	transform: scale(1.42);
}

.showcase__spin {
	width: 100%;
	height: 100%;
	animation: spin-liquid 12s ease-in-out infinite alternate;
	position: relative;
}

.showcase__shape {
	width: 100%;
	height: 100%;
	transition: border-radius 1s ease-out;
	border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	animation: morph 8s ease-in-out infinite both alternate;
	position: absolute;
	overflow: hidden;
	z-index: 3;
}

.showcase__bg {
	width: 136%;
	height: 136%;
	position: absolute;
	left: -18%;
	top: -18%;
	background-image: url("./../img/extra-services-1.jpg");
	background-position: center;
	background-size: cover;
	animation: spin-liquid 12s ease-in-out infinite alternate-reverse;
	/* opacity: 1; */
	/* z-index: 2; */
}

@keyframes spin-angle {
	0% {
		--gradient-angle: 0deg;
	}

	100% {
		--gradient-angle: 360deg;
	}
}

@keyframes spin-liquid {
	to {
		transform: rotate(1turn);
	}
}

@keyframes morph {
	0% {
		border-radius: 50% 70% 70% 50% / 70% 60% 70% 60%;
	}

	100% {
		border-radius: 50% 70%;
	}
}
