@import "./styles/css_reset.css";
@import "./styles/variables.css";
@import "./styles/utils.css";
@import "./styles/common.css";
@import "./styles/header.css";
@import "./styles/hero.css";
@import "./styles/about.css";
@import "./styles/story.css";
@import "./styles/services.css";
@import "./styles/parallax.css";
@import "./styles/cooperations.css";
@import "./styles/together.css";
@import "./styles/form.css";
@import "./styles/footer.css";
